#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 80px 160px;
  border-radius: 10px;
}

header p {
  font-size: 1.4rem;
}

main input {
  padding: 8px 10px;
  min-width: 200px;
  border-radius: 10px;
  border: 1px solid grey;
}

main input + div {
  margin-top: 10px;
}

main div > input {
  margin-right: 10px;
}

main div > button {
  background: rgb(211, 182, 182);
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

footer button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: rgb(24, 172, 96);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

footer button + button {
  margin-left: 10px;
}
