.chat-message-user {
  display: flex;
  align-items: start;
  justify-content: end;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0 10px 20px;
  max-width: 300px;
}

div.chat-message-text p {
  box-shadow: none;
  text-align: start;
  padding: 0;
  margin: 8px 0;
  font-size: 0.8rem;
}

.chat-message-profile {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}
