* {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-size: 2.6rem;
  line-height: 0.4;
}

p {
  font-size: 1.4rem;
  line-height: 0.4;
}

span {
  text-decoration: underline;
}
