.ex4a,
.ex4b,
.ex4c,
.ex4c-off {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 10px 16px;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 12px 0;
  transition: all 0.3s;
}

.ex4c-off {
  background-color: rgb(220, 53, 69);
}

.ex4d {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.ex4d p {
  font-size: 1.8rem;
  font-weight: 500;
}

.ex4d input {
  display: block;
  width: 240px;
  height: 20px;
  padding: 6px 12px;
  border-radius: 6px;
  outline: none;
}

.ex4d input + input {
  margin: 10px 0;
}

.ex4d button {
  background-color: rgb(0, 123, 255);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
  border: none;
}

.ex4d button + button {
  margin: 0 10px;
}

/*  */

.ex4e {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.ex4e p {
  font-size: 1.8rem;
  font-weight: 500;
}

.ex4e input {
  display: block;
  width: 240px;
  height: 20px;
  padding: 6px 12px;
  border-radius: 6px;
  outline: none;
}

.ex4e div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.ex4e div button {
  background-color: rgb(11, 157, 230);
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
  border: none;
}

.ex4e button {
  background-color: rgb(0, 123, 255);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
  border: none;
}

.ex4e button + button {
  margin: 0 10px;
}

.ex4f {
  background-color: ghostwhite;
  padding: 10px 20px;
  border-radius: 8px;
}
