body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-message-user {
  display: flex;
  align-items: start;
  justify-content: end;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0 10px 20px;
  max-width: 300px;
}

.chat-message-profile {
  width: 45px;
}

.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  /* Scroll behavior */
  overflow: scroll;
  /* Hide scroll bar */
  scrollbar-width: none;
}

.chat-messages-container p {
  color: grey;
  text-align: center;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}

.spinner-message {
  height: 40px;
  margin: -15px;
}
